:root {
  --color1: #272643;
  --color2: #2c698d;
  --color3: #bae8e8;
  --color4: #e3f6f5;
  --color5: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Home {
  background-image: linear-gradient(var(--color2), var(--color3));
  
}

.App {
  background-image: linear-gradient(var(--color2), var(--color3));
  height: 100vh;
}

.title{
  font-size: 3rem;
}

.StationListCard {
  display: flex;
  background: radial-gradient(closest-side, var(--color5), var(--color3));
  border-radius: 1rem;
  border-color: var(--color1);
  border-style: solid;
  width: 80vw;
  height: 30vh;
  /* background-color: var(--color4); */
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

.station_address {
  display: block;
  text-align: left;
}

.station-prices {
  display: block;
  text-align: right;
}

.header {
  /* display flex and space evenly horizontally*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color1);
  color: var(--color5);
  font-weight: bold;
  font-size: 1rem;
}
/*************************************************/
@media only screen and (min-width: 881px) {
  .filter {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 880px) {
  .filter {
    display: grid;
    grid-template-areas:
    'a a'
    'b c';
  }

    /* grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-around; */

  .addressForm {
    grid-area: a;
  }
  .viewMapButton {
    grid-area: b;
  }

  .sortByPriceButton {
    grid-area: c;
  }
  

}

.viewMapButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.sortByPriceButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}



.addressForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.viewButton {
  margin: 2% 5%;
  color: var(--color1);
  /* border: var(--color1) solid 1px; */
  border: solid 1px var(--color1);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background: radial-gradient(closest-side, var(--color3), var(--color5));
  width: 5rem;
  height: 4rem;
}


.addressInput {
  border-radius:5px;
  border: solid 1px var(--color1);
}

.addressButton{
padding:0.1rem;
border: solid 1px var(--color1);
background-color: var(--color3);
color:black;
border-radius:5px;
width:auto;
margin:0.1rem;

}


.UpdatePriceForm {
  z-index: 9999;
}








.listBackground {
  background-color: var(--color3);
  height: 80vh;
}

.LoginMessage {
  background-color: var(--color3);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.map_container {
  margin: 0%;
  height: 76vh;
  width: auto;
  border: solid var(--color1) 2px;
  border-radius: 3%;
}


.overlay {
  top: 50%;
  left: 40%;
  z-index: 1;
  opacity: 85%;
}

.allStationCards{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

}



.loginBox{
  margin-top: 5rem;
}

.signUpBox{
  margin-top: 5rem;
}




.spinner {
  position: absolute;
   width: 20px;
   height: 20px;
   top:50%;
   left: 50%;
}

.spinner div {
   position: absolute;
   width: 50%;
   height: 150%;
   background: var(--color1);
   transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
   animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
   --delay: 0.1;
   --rotation: 36;
   --translation: 150;
}

.spinner div:nth-child(2) {
   --delay: 0.2;
   --rotation: 72;
   --translation: 150;
}

.spinner div:nth-child(3) {
   --delay: 0.3;
   --rotation: 108;
   --translation: 150;
}

.spinner div:nth-child(4) {
   --delay: 0.4;
   --rotation: 144;
   --translation: 150;
}

.spinner div:nth-child(5) {
   --delay: 0.5;
   --rotation: 180;
   --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
   --rotation: 216;
   --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
   --rotation: 252;
   --translation: 150;
}

.spinner div:nth-child(8) {
   --delay: 0.8;
   --rotation: 288;
   --translation: 150;
  }

.spinner div:nth-child(9) {
   --delay: 0.9;
   --rotation: 324;
   --translation: 150;
}

.spinner div:nth-child(10) {
   --delay: 1;
   --rotation: 360;
   --translation: 150;
}

@keyframes spinner-fzua35 {
   0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
   }

   50% {
      transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
   }
}



.StationName{
  border-bottom: solid 1px black;
}

@media only screen and (max-width: 880px) {
  .bothButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  .StationName{
    font-size: 1.2rem;
    border-bottom: solid 1px black;
  }

  .StationAddress{
    font-size: 1rem;
  }

  .FuelPrice{
    font-size: 2rem;
  }

  .FuelTimeUpdated{
    font-size: 0.8rem;
  }

}

.SubmitPriceForm {
  width: 50%;
  font-size: 0.7rem;
}
  .UpdatePriceButton {
    margin: 0rem;
    font-size: 0.7rem;
    width:auto;
  }

  .FuelUpdateMessage {
    font-size: 0.8rem;
  }