:root {
  --color1: #393d71;
  --color2: whitesmoke;
  --color3: green;
  --color4: pink;
  --color5: yellow;
}


* {
  margin: 0;
  padding: 0;
}

.Home {
  background-color: var(--color2)
}

.App {
  text-align: center;
}


.StationListCard{
  
  display:flex;
  border-radius: 1rem;
  border-color: darkslateblue;
  border-style: solid;
  width:80vw;
  height:20vh;
  background-color: rgba(33, 209, 180, 0.644);
  justify-content: space-between ;
  top:0;
  left:0;
  z-index:1;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

.station_address{
  display:block;
text-align: left;}

.station-prices{
  display:block;
  text-align: right;
}

.viewButton {
  margin: 2% 5%;
  background-color: #4cafa2;
  color: #fff;
  border: black solid 1px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.filter {
  display: flex;
  margin: 0.5rem;
}

.UpdatePriceButton{
  margin:0.2rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.header {
  /* display flex and space evenly horizontally*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #4cafa2;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;

  
 
}

.map_container{
  margin: 0%;
  height:90vh;
  width:auto;
  border: solid black 2px;
  border-radius: 7%;

}

.overlay {

}

.box {

  opacity: 0.3;

}

.container {

}

/**
 * The following styles are for the loader graphic
 */
.pulse {
   width: 70.4px;
   height: 70.4px;
   position: relative;
   transform: rotate(45deg);
}

.pulse:before,
.pulse:after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 50% 50% 0 50%;
   background: #474bff;
   -webkit-mask: radial-gradient(circle 17.6px at 50% 50%,#0000 94%,#000);
}

.pulse:after {
   animation: pulse-ytk0dhhg 1s infinite;
   transform: perspective(528px) translateZ(0px);
}

@keyframes pulse-ytk0dhhg {
   to {
      transform: perspective(528px) translateZ(264px);
      opacity: 0;
   }
}