:root {
  --color1: #272643;
  --color2: #2c698d;
  --color3: #bae8e8;
  --color4: #e3f6f5;
  --color5: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Home {
  background-image: linear-gradient(var(--color2), var(--color3));
  
}

.App {
  text-align: center;
}

.StationListCard {
  display: flex;
  border-radius: 1rem;
  border-color: var(--color1);
  border-style: solid;
  width: 80vw;
  height: 20vh;
  background-color: var(--color4);
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

.station_address {
  display: block;
  text-align: left;
}

.station-prices {
  display: block;
  text-align: right;
}

.viewButton {
  margin: 2% 5%;
  background-color: var(--color3);
  color: var(--color1);
  border: var(--color1) solid 1px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

/* .filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
} */

@media only screen and (min-width: 650px) {
  .filter {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 649px) {
  .addressForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
  }
  .bothButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}

/* .addressForm {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 0.5rem;
} */

.bothButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.addressInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 0.5rem;
}

.addressButton{
padding:0.1rem;
border:black solid 1px;
background-color: var(--color3);
color:black;
border-radius:5px;
width:auto;
margin:0.1rem;
}



.UpdatePriceButton {
  margin: 0.2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  /* display flex and space evenly horizontally*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color1);
  color: var(--color5);
  font-weight: bold;
  font-size: 1rem;
}

.listBackground {
  background-color: var(--color3);
  height: 80vh;
}

.LoginMessage {
  background-color: var(--color3);
}

.map_container {
  margin: 0%;
  height: 90vh;
  width: auto;
  border: solid var(--color1) 2px;
  border-radius: 3%;
}

.overlay {
  top: 50%;
  left: 40%;
  z-index: 1;
  opacity: 85%;
}

/* .addressForm {
  vertical-align: middle;

} */

/**
* The following styles are for the loader graphic
*/
.pulse {
  width: 20vh;
  height: 20vh;
  position: absolute;
  transform: rotate(45deg);
}

.pulse:before,
.pulse:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: var(--color2);
  -webkit-mask: radial-gradient(circle 17.6px at 50% 50%, #0000 94%, #000);
}

.pulse:after {
  animation: pulse-ytk0dhhg 1s infinite;
  transform: perspective(528px) translateZ(0px);
}

@keyframes pulse-ytk0dhhg {
  to {
    transform: perspective(528px) translateZ(264px);
    opacity: 0;
  }
}
